@charset 'utf-8';
.login_title {
  width: 1200px;
  margin: 20px auto;
  border-bottom: 1px solid #ccc;
}
.login_title span {
  float: right;
  width: 398px;
  height: 30px;
  background: url(https://s.banggo.com/pub7/images/mbshop/veoimg/Veo_mbshop_spirit_pic.png?t=20160603) no-repeat;
  background-position: 0 -1578px;
  margin-top: 50px;
}
.info {
  width: 1200px;
  margin: 10px auto;
}
.info img {
  margin-left: 150px;
}
.info .good {
  width: 100%;
  height: 90px;
  border: 1px solid #ccc;
}
.info .good img {
  width: 90px;
  height: 90px;
}
